.container{
    width: 500px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.47);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 6px 7px 7px 2px rgba(255, 255, 255, 0.298);
    padding: 30px;

    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 20px;
        font-size: 2.3rem;
        color: white;
        text-decoration: underline;
    }
    input[type="text"]{
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background: transparent;
        color: white;
        border-radius: 10px;
        outline: 2px solid white;
        transition: 0.3s;
        box-shadow: 5px 4px 4px 3px rgba(255, 255, 255, 0.33);
        &::placeholder{
            color: white;
            font-size: 1.05rem;
        }
        &:focus{
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
    ul{
        margin-top: 30px;
    }
li {
  color: white;
  margin-top: 20px;
  padding: 20px;
  
  &.checked::before {
    content: "✅";
    padding: 10px 10px;
    font-size: 1.1rem;
    border-radius: 100%;
  }
  &.checked:hover::after{
    content: " (cliquez pour supprimé)";
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
}

}